$white: #fff;
$violet: #673ab7;
$borderRadius: 4px;
$light-grey: #f8f8f8;
$main-color: #1565c0;
$white-color: #ffffff;
$xlight-grey: #fafafa;
$accent-color: #00a8ff;
$inactiveColor: #9c9c9c;
$boxShadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
$shadow-violet: 0 8px 16px 0 rgba(60, 12, 204, 0.15);


